.chat-wrapper {
  display: flex;
  justify-content: center;
  background-color: #f7f9fc;
  height: calc(100vh - 64px);
  padding: 20px;
}

.chat-container {
  width: 380px;
  max-height: 90vh;
  background: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toolbar {
  background-color: #f0f4f8;
  padding: 10px;
  border-radius: 8px;
}

.custom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-card {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 8px 0;
}

.user-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 12px;
}

.user-details {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: 15px;
  flex: 1;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.user-description {
  font-size: 14px;
  color: #777;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

mat-divider {
  margin: 10px 0;
}

.divider1 {
  background-color: #ddd;
}

mat-icon {
  font-size: 24px;
  color: #00796b;
  cursor: pointer;
  transition: transform 0.3s ease;
}

mat-icon:hover {
  transform: scale(1.1);
}
