
  <div>
    <mat-toolbar class="toolbar">
      <div class="custom">
        <mat-icon  (click)="goChatPage()">arrow_back</mat-icon>
        <span>All Chats</span>
      </div>
    </mat-toolbar>
    <mat-divider class="dividerCustom"></mat-divider>
  
    <div *ngFor="let user of users">
      <div class="user-card" (click)="goChatPage()">
        <img [src]="user.url" alt="Avatar" class="avatar" />
        <div class="user-details">
          <div class="user-name">{{ user.name }}</div>
          <p class="user-description">{{ user.description || 'No description available' }}</p>
        </div>
       
      </div>
      <mat-divider class="dividerCustom"></mat-divider>    </div>
  </div>



