
<div class="chat-wrapper">
  <div class="chat-container">
    <mat-toolbar>
      <div class="custom">
        <mat-icon (click)="goUsersPage()">arrow_back</mat-icon>
        <span>name</span>
        <img src="assets/images/avatar1.jpg" alt="avatar" class="my-avatar" /> 
      </div>
      
    

    </mat-toolbar>
    <mat-divider></mat-divider>
    <div class="chat-list">
      <mat-card
        *ngFor="let message of messages"
        [ngClass]="{'sent': message.sender === 'You', 'received': message.sender !== 'You'}"
        class="chat-card"
      >
        <div class="message-body">
          <p>{{ message.text }}</p>
          <span class="message-time">{{ message.time }}</span>
        </div>
      </mat-card>
    </div>


    <div class="message-input">
      <input
        matInput
        [(ngModel)]="newMessage"
        placeholder="Type a message"
        class="message-field"
        (keyup.enter)="sendMessage()"
      />
      <button mat-icon-button color="primary" (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
