<!-- <div class="containerCustom">
    <div class="flexContainer">
        <img src="assets/images/avatar1.jpg"  class="avatar">
        <div class="flexRowContainer">
            <p>Niloofar Mousavi</p>
            <div class="editButton">
                <mat-icon aria-hidden="false" aria-label="Plus icon" >add</mat-icon>
                edit
            </div>
        </div>

    </div>
    <mat-divider class="myDivider"></mat-divider>
<div class="changeContainer">

    <button class="changeButton">change Images</button>
    
    
</div>


    


</div> -->
<div class="containerCustom">
    <div class="flexContainer">
        <div class="avatar-container">
            <img src="assets/images/avatar1.jpg" class="avatar" alt="User Avatar">
            <div class="avatar-badge">
                <mat-icon>check</mat-icon>
            </div>
        </div>
        
        <div class="flexRowContainer">
            <p class="userName">Niloofar Mousavi</p>
            <button class="editButton">
                <mat-icon>edit</mat-icon>
                Edit
            </button>
        </div>
    </div>
    
    <mat-divider class="myDivider"></mat-divider>
    
    <div class="changeContainer">
        <button class="changeButton">
            <mat-icon style="margin-right: 8px;">photo_camera</mat-icon>
            Change Image
        </button>
    </div>
</div>